In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import string
import re

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject

In [2]:
df_fake = pd.read_csv("Fake.csv")
df_true = pd.read_csv("True.csv")

In [3]:
df_fake.head(1)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"

In [4]:
df_fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [5]:
df_true.head(4)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"

In [6]:
df_fake.shape , df_true.shape

((23481, 4), (21417, 4))

In [7]:
data_fake_manual_testing = df_fake.tail(10)
df_fake.drop(df_fake.tail(10).index, inplace=True)

data_true_manual_testing = df_true.tail(10)
df_true.drop(df_true.tail(10).index, inplace=True)

In [8]:
df_fake.shape , df_true.shape

((23471, 4), (21407, 4))

In [9]:
data_fake_manual_testing['class'] = 0
data_true_manual_testing['class'] = 1

C:\Users\Awais khan\AppData\Local\Temp\ipykernel_4136\277247672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_fake_manual_testing['class'] = 0
C:\Users\Awais khan\AppData\Local\Temp\ipykernel_4136\277247672.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_true_manual_testing['class'] = 1

In [10]:
data_fake_manual_testing.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [11]:
data_true_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [18]:
df_fake['class'] = 0
df_true['class'] = 1

In [19]:
d_merge = pd.concat([df_fake,df_true],axis = 0)

In [20]:
d_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [21]:
d_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [22]:
data = d_merge.drop(["title",'subject','date'],axis=1)

In [23]:
data

                                                    text  class
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
21402  ON BOARD A U.S. MILITARY AIRCRAFT (Reuters) - ...      1
21403  WASHINGTON (Reuters) - The United States sugge...      1
21404  WASHINGTON (Reuters) - The United States has d...      1
21405  ISLAMABAD (Reuters) - Outlining a new strategy...      1
21406  GENEVA (Reuters) - North Korea and the United ...      1

[44878 rows x 2 columns]

In [24]:
data = data.sample(frac=1).reset_index(drop=True)

In [25]:
data.head(10)

                                                text  class
0   ENABLING HILLARY  came to Senator Al Franken ...      0
1  WASHINGTON (Reuters) - Frustrated U.S. lawmake...      1
2  KABUL (Reuters) - Gunmen disguised as police k...      1
3  WASHINGTON (Reuters) - President-elect Donald ...      1
4  PHOENIX (Reuters) - A judge on Tuesday tossed ...      1
5  OUR GOOD FRIENDS AT TEXAS BORDER VOLUNTEERS ar...      0
6   Duterte takes clear lead in Philippine electi...      0
7  21st Century Wire says How seriously can we ta...      0
8  On December 5, 2017, Circa s Sara Carter warne...      0
9  PARIS (Reuters) - The mayor of Paris, where a ...      1

In [26]:
import re
import string

def wordopt(text):
    # Convert text to lowercase
    text = text.lower()
    
    # Remove anything inside square brackets (e.g., [example])
    text = re.sub(r"\[.*?\]", '', text)
    
    # Replace non-alphanumeric characters (other than spaces) with a space
    text = re.sub(r'\W', ' ', text)
    
    # Remove URLs (http:// or www.)
    text = re.sub(r'https?://\S+|www\.\S+', '', text)
    
    # Remove HTML tags (e.g., <div>, </html>)
    text = re.sub(r'<.*?>', '', text)
    
    # Remove punctuation
    text = re.sub(f'[{string.punctuation}]', '', text)
    
    # Remove newline characters
    text = re.sub(r'\n', '', text)
    
    # Remove words containing 'd' (like "dog", "mind", etc.)
    text = re.sub(r'\b\w*d\w*\b', '', text)
    
    # Remove extra spaces that may have been added during cleaning
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

In [27]:
data['text']=data['text'].apply(wordopt)

In [28]:
data['text']

0        enabling hillary came to senator al franken s ...
1        washington reuters u s lawmakers on for a high...
2        kabul reuters gunmen as police a security fire...
3        washington reuters elect trump on a fossil fue...
4        phoenix reuters a on out a legal challenge to ...
                               ...
44873    washington reuters a republican bill to obamac...
44874    washington reuters barack obama sweeping new s...
44875    washington reuters the states on sanctions on ...
44876    establishment were when trump that the system ...
44877    new york reuters u s elect trump s transition ...
Name: text, Length: 44878, dtype: object

In [53]:
x = data['text']
y = data['class']

In [63]:
x_train,y_train,x_test,y_test = train_test_split(x,y,test_size=0.25)

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize the vectorizer (TF-IDF)
vectorizer = TfidfVectorizer(stop_words='english')

# Fit and transform the cleaned text into a TF-IDF matrix
X_train = vectorizer.fit_transform([cleaned_text])
# X_test = vectorizer.transform(x_test)
print("TF-IDF Features:", vectorizer.get_feature_names_out())

TF-IDF Features: ['com' 'example' 'http' 'sample' 'text']

In [66]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(X_train, y_train)

ValueError: Found input variables with inconsistent numbers of samples: [1, 11220]